.container.p-y-3
  %header.m-b-1
    %h2.font-weight-bold ユーザー一覧

  %table.table.table-sm.table-hover
    %thead.thead-default
      %tr
        %th #
        %th アカウント名
        %th メールアドレス
        %th 登録日
        %th 権限
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.name if user.name.present?
          %td= user.email
          %td= user.created_at.strftime('%Y-%m-%d')
          %td= user.role
          %td= link_to "権限変更", user_path(user), method: :put unless user == current_user