= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-sm-6.field.m-b-1
      = f.label :name
      = f.text_field :name, class: "form-control"
    .col-sm-6.field.m-b-1
      = f.label :slug
      = f.text_field :slug, class: "form-control"
  .actions.m-b-1
    = f.submit '保存する', class: "btn btn-sm btn-primary"
